<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gongren.oddjob.user.login.rpc.mysql.mappers.OjUserLoginMapper">

    <sql id="columns">
        id,active,version,create_time,create_user_id,modify_time,modify_user_id,
        user_id,x_coordinate,y_coordinate,is_expire,app_id,login_ip,app_version
    </sql>

<!--     <select id="findById" resultType="OjUserLogin"> -->
<!--         select * from oj_user where id=#{id} -->
<!--     </select> -->

	<update id="updateIsExpire" >
		update oj_user_login set is_expire = 0 where user_id = #{userId};
	</update>
	
    <insert id="save">
        insert into oj_user_login(<include refid="columns"/>)
        values(#{userLogin.id},1,#{userLogin.version},#{userLogin.createTime},#{userLogin.createUserId},#{userLogin.modifyTime},#{userLogin.modifyUserId},
        #{userLogin.userId},#{userLogin.xCoordinate},#{userLogin.yCoordinate},#{userLogin.isExpire},#{userLogin.appId},#{userLogin.loginIp},#{userLogin.appVersion});
    </insert>

</mapper>